{% extends "./base.html.twig" %}


{% block title %}Forum{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    {% for category in categories %}
        <h3>  {{ category.title }} </h3>
        {% for forum in category.getForums %}
            <b> {{ forum.title }} </b>
            <span> {{ forum.description }} </span>
        {% endfor %}
    {% endfor %}
{% endblock %}
