{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
   <form action="/admin/create.category" method="POST">
        <span>Add new category </span>
        <input id="" type="text" name="title" placeholder="title">
        <input id="" type="text" name="position" placeholder="position">
        <input type="submit" value="submit">
   </form>

   <form action="/admin/create.forum" method="POST">
        <span>Add new forum </span>
        <input id="" type="text" name="title" placeholder="title">
        <input id="" type="text" name="description" placeholder="description"> 
        <select name="category_id" id="category">
        {%for category in categories %}
            <option value="{{ category.getId}}">{{category.getTitle}}</option>
        {% endfor %}
        </select>
        <input id="" type="text" name="position" placeholder="position">
        <input type="submit" value="submit">
   </form>

{% endblock %}
