<div class="form">
            <button id="boldButton"><b>bold</b></button>
            <button id="italicButton"><i>italic</i></button>
            <button id="underlineButton"><u>underline</u></button>
            <button id="linkButton">link</button>
</div>

