<div class="rounded-border">
        <form class="form" action="/post.store" method="POST">
            <input type="hidden" name="topic_id" value={{ topic.getId }}>
            <textarea id="text" name="content" cols="30" rows="10"></textarea>
            <input type="submit" value="Enviar">
        </form>
</div>

