<nav class="nav-bar">
    <ul>
        <li>
            <a href='/'> <i class='bx bxs-home' ></i> Home </a>
        </li>
        {% if app.user %}
            <div class="float-right">
            <li>
                <a href='/user'> <i class='bx bxs-user'></i> Perfil </a>
            </li>
            {% if app.user.getRoles[0] == 'ROLE_ADMIN' %}
                <li>
                    <a class="dropdown" href='/admin'> Admin </a>
                </li>
            {% endif %}
            <li>
                <a href='/logout'> Logout </a>
            </li>
            </div>
        {% else %}
            <div class="float-right">
            <li>
                <a href='/login'> Login </a>
            </li>
            <li>
                <a href='/user.create'> Criar conta </a>
            </li>
            </div>
    {% endif %}
    </ul>
</nav>

