{% extends "./base.html.twig" %}

{% block title %}Sign In{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    <h1>New User</h1>
    <div>
        <form action="/user.store" method="POST">
            <input type="hidden" name="token" value="{{ csrf_token('user.store') }}"/
            <div>
                <input id="" type="email" name="email" placeholder="email@email.com">
            </div>
            <div>
                <input id="" type="text" name="username" placeholder="username">
            </div>
            <div>
                <input id="" type="password" name="password" placeholder="password">
            </div>
            <div>
                <input id="" type="password" name="" placeholder="password">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}
