{% extends "./base.html.twig" %}


{% block title %}Sign In{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    <h1>Login</h1>
    {% if message is defined %}
    <h3> {{ message }} </h3>
    {% endif %}
    <div>
        <form action="/user.store" method="POST">
            <div>
                <input id="" type="email" name="email">
            </div>
            <div>
                <input id="" type="password" name="password">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}
